<p>Hi there,</p>

<p>You've been invited to join <strong><%= tenantName %></strong> on <strong><%= appName %></strong> as a <strong><%= memberRole %></strong>.</p>

<p>Click the button below to accept your invitation. This link will expire in <strong><%= expiryDays %> days</strong>.</p>

<a class="button" href="<%= invitationLink %>">Accept Invitation</a>

<p>If you'd prefer not to join, you can <a href="<%= declineLink %>">decline this invitation</a>.</p>

<p>If you did not expect this invitation, you can safely ignore this email.</p>
